.link-line-confirmed {
	width: 100%;
	position: relative;
	margin: 15px;
	border-top: 2px solid #777;
}
.link-line-unconfirmed {
	width: 100%;
	position: relative;
	margin: 15px;
	background-image: repeating-linear-gradient(to right, #cacaca, #cacaca 7px, transparent 7px, transparent 15px);
	height: 2px;
}

.entity-icon {
  position: relative;
  top: 4px;
}
.arrow {
  position: absolute;
  top: 20px;
  left: 20px;
}
.link-line-confirmed.arrow-left:before {
	position: absolute;
	content: '';
	top: -8px;
	left: 0;
	display: inline-block;
	border-right: 3px solid #777;
	border-bottom: 3px solid #777;
	width: 12px;
	height: 12px;
	transform: rotate(135deg);
}

.link-line-unconfirmed.arrow-right:after {
	position: absolute;
	content: '';
	top: -5px;
	right: 0;
	display: inline-block;
	border-right: 3px solid #cacaca;
	border-bottom: 3px solid #cacaca;
	width: 12px;
	height: 12px;
	transform: rotate(-45deg);
}

.link-line-unconfirmed.arrow-left:before {
	position: absolute;
	content: '';
	top: -5px;
	left: 0;
	display: inline-block;
	border-right: 3px solid #cacaca;
	border-bottom: 3px solid #cacaca;
	width: 12px;
	height: 12px;
	transform: rotate(135deg);
}

input:-moz-read-only {
  /* For Firefox */
  background-color: #ccc;
	cursor: default
}

input:read-only {
  background-color: #e4e4e4;
	cursor: default;
	border: 1px solid #ced4da
}

input:read-only:focus-visible {
	outline: -webkit-focus-ring-color auto 0px;
}

