<form
  class="row m-5"
  [formGroup]="linkTypeForm"
  *ngIf="linkTypes && !edit; else temp"
>
  <div class="col-sm-12">
    <div class="d-flex mb-3">
      <div class="entity-icon">
        <span><i class="fas fa-arrow-left"></i></span>
        <span class="arrow">
          <input
            class="form-check-input"
            type="checkbox"
            id="leftArrow"
            formControlName="leftArrow"
          />
          <label class="d-none form-check-label" for="leftArrow"></label>
        </span>
      </div>
      <div class="entity-icon ml-3">
        <img
          [src]="
            'https://stackblitz.com/files/angular-8ppmnv/github/Rudgey84/Dynamic-add-control/main/src/' +
            nodeObjects[0].icon +
            '.png'
          "
        />
      </div>
      <div
        class="link-line"
        [class.arrow-left]="linkTypeForm.get('leftArrow').value"
        [class.arrow-right]="linkTypeForm.get('rightArrow').value"
      >
        <div
          *ngIf="linkTypeForm.get('fields')['controls'][0].controls.Role"
          class="text-center"
        >
          {{ linkTypeForm.get('fields')['controls'][0].controls.Role.value }}
        </div>
      </div>

      <div class="entity-icon mr-3">
        <!-- https://raw.githubusercontent.com/Rudgey84/Dynamic-add-control/main/src/ -->
        <img
          [src]="
            'https://stackblitz.com/files/angular-8ppmnv/github/Rudgey84/Dynamic-add-control/main/src/' +
            nodeObjects[1].icon +
            '.png'
          "
        />
      </div>
      <div class="entity-icon">
        <span><i class="fas fa-arrow-right"></i></span>
        <span class="arrow">
          <input
            class="form-check-input"
            type="checkbox"
            id="rightArrow"
            formControlName="rightArrow"
          />
          <label class="form-check-label" for="rightArrow"></label>
        </span>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-3">
      <p class="text-left">
        <span
          *ngFor="let label of nodeObjects[0].label; let i = index"
          style="font-size: 12px"
          class="d-block"
          [ngClass]="{ 'font-weight-bold': i === 0 }"
          >{{ label }}</span
        >
      </p>
      <p class="text-right">
        <span
          *ngFor="let label of nodeObjects[1].label; let i = index"
          style="font-size: 12px"
          class="d-block"
          [ngClass]="{ 'font-weight-bold': i === 0 }"
          >{{ label }}</span
        >
      </p>
    </div>

    <div *ngIf="linkTypes">
      <div class="form-group">
        <label class="h5" for="linkType">Link Type</label>
        <select
          formControlName="linkName"
          class="form-control"
          (change)="handleLinkTypeSelection($event)"
        >
          <ng-container *ngFor="let linkType of linkTypes">
            <optgroup label="{{ linkType.linkName }}">
              <ng-container *ngFor="let linkTypeChild of linkType.children">
                <option
                  [value]="linkTypeChild.name"
                  [ngClass]="{
                    'test-class': !linkType.createable && linkTypeChild.children
                  }"
                >
                  {{ linkTypeChild.displayName }}
                </option>
              </ng-container>
              <option [id]="linkType.linkName" [value]="linkType.linkName">
                {{
                  linkType.linkName !== 'Other....'
                    ? linkType.linkName + ' ' + '-'
                    : ''
                }}
                Other
              </option>
            </optgroup>
          </ng-container>
        </select>
      </div>
    </div>

    <div *ngIf="fields" formArrayName="fields">
      <ng-container
        *ngFor="let item of fields; let i = index"
        [formGroup]="linkTypeAttributeForm"
      >
        <div [ngSwitch]="item.dataType">
          <!--TEXT FIELDS-->
          <div *ngSwitchCase="'STRING'">
            <div *ngIf="item.name === 'role' && isOtherValueField">
              <label>Other value field</label>
              <input type="text" [formControlName]="item.displayName" />
            </div>

            <div *ngIf="item.name !== 'role'">
              <label>{{ item.displayName }}</label>
              <input type="text" [formControlName]="item.displayName" />
            </div>
          </div>
          <!--TEXTAREA FIELDS-->
          <div *ngSwitchCase="'TEXTAREA'">
            <label>{{ item.displayName }}</label>
            <textarea [formControlName]="item.displayName"></textarea>
          </div>
          <!--NUMBER FIELDS-->
          <div *ngSwitchCase="'NUMBER'">
            <label>{{ item.displayName }}</label>
            <input type="number" [formControlName]="item.displayName" />
          </div>
          <!-- DATE FIELDS-->
          <div *ngSwitchCase="'DATE'">
            <label>{{ item.displayName }}</label>
            <input type="date" [formControlName]="item.displayName" />
          </div>
          <!--BOOLEAN-->
          <div *ngSwitchCase="'BOOLEAN'">
            <div class="form-check form-check-inline">
              <label class="col-12 customradio"
                ><span>Yes</span>
                <input
                  [ngClass]="{ checked: item.displayName === 'true' }"
                  [formControlName]="item.displayName"
                  [value]="'true'"
                  type="radio"
                />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="col-12 customradio"
                ><span>No</span>
                <input
                  [ngClass]="{ checked: item.name === 'false' }"
                  [formControlName]="item.displayName"
                  [value]="'false'"
                  type="radio"
                />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!--SELECTS-->
          <div *ngSwitchCase="'ENUM'">
            <select
              class="form-control mb-3"
              [formControlName]="item.displayName"
            >
              <option value=""></option>
              <option
                *ngFor="let selectValue of item.values"
                [value]="selectValue"
              >
                {{ selectValue }}
              </option>
            </select>
          </div>
        </div>
      </ng-container>
    </div>

    <button type="button" class="btn btn-success" (click)="handleSaveLink()">
      Add Link
    </button>
  </div>
</form>

<ng-template #temp> Waiting for edit API </ng-template>
<pre>Add Link Modal Form:<br /><code>{{ linkTypeForm.value | json }}</code></pre>
